<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not Found!</h1>
    <p>We couldn't find the page you're looking for</p>
  </main>
</body>
</html>